In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

### 데이터 불러오기

In [2]:
NBA_FILE_PATH = 'NBA_player_of_the_week.csv'
nba_player_of_the_week_df = pd.read_csv(NBA_FILE_PATH)

In [3]:
nba_player_of_the_week_df.head()

,Player,Team,Conference,Date,Position,Height,Weight,Age,Draft Year,Seasons in league,Season,Season short,Pre-draft Team,Real_value,Height CM,Weight KG,Last Season
0,Jayson Tatum,Boston Celtics,East,"Feb 10, 2020",SF,6'8,208,21,2017,2,2019-2020,2020,Duke,0.5,203,94,1
1,Nikola Jokic,Denver Nuggets,West,"Feb 10, 2020",C,7'0,250,25,2014,4,2019-2020,2020,KK Mega Bemax (Serbia),0.5,213,113,1
2,Jaylen Brown,Boston Celtics,East,"Feb 3, 2020",SF,6'7,220,23,2016,3,2019-2020,2020,California,0.5,201,99,1
3,Damian Lillard,Portland Trail Blazers,West,"Feb 3, 2020",G,6'3,195,29,2012,7,2019-2020,2020,Weber State,0.5,190,88,1
4,Pascal Siakam,Toronto Raptors,East,"Jan 27, 2020",F,6'9,230,25,2016,3,2019-2020,2020,New Mexico State,0.5,206,104,1

#### 각 열에 대한 통계 확인

In [4]:
nba_player_of_the_week_df.describe()

,Weight,Age,Draft Year,Seasons in league,Season short,Real_value,Height CM,Weight KG,Last Season
count,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000
mean,224.567164,26.738060,1996.287313,5.740299,2003.156716,0.686940,201.071642,101.384328,0.023881
std,30.798885,3.400683,11.253558,3.293421,11.470164,0.242007,9.367970,14.011226,0.152734
min,150.000000,19.000000,1965.000000,0.000000,1980.000000,0.500000,175.000000,68.000000,0.000000
25%,205.000000,24.000000,1987.000000,3.000000,1994.000000,0.500000,193.000000,93.000000,0.000000
50%,220.000000,26.000000,1998.000000,5.000000,2005.000000,0.500000,201.000000,99.000000,0.000000
75%,250.000000,29.000000,2005.000000,8.000000,2013.000000,1.000000,208.000000,113.000000,0.000000
max,325.000000,40.000000,2018.000000,17.000000,2020.000000,1.000000,229.000000,147.000000,1.000000

In [5]:
height_weight_age_df = nba_player_of_the_week_df[['Height CM', 'Weight KG','Age']]
height_weight_age_df.head()

   Height CM  Weight KG  Age
0        203         94   21
1        213        113   25
2        201         99   23
3        190         88   29
4        206        104   25

## Feature Scaling
입력 변수들의 크기를 조정해서 일정 범위 내에 떨어지도록 바꾸는 것<br>
선형 회귀뿐만 아니라 경사 하강법을 사용하는 모든 알고리즘의 연산속도를 빠르게 해준다<br>
횟수 자체는 동일하지만 경사 하강시 정규화로인해 하강 거리가 가까워지기 때문

### MinMaxScaler
최댓값, 최솟값을 이용해서 변수의 크기를 0과 1사이로 조정
* 경사하강법을 좀 더 빨리 할 수 있도록 도와준다

In [7]:
scaler = preprocessing.MinMaxScaler()
normalized_data = scaler.fit_transform(height_weight_age_df)
normalized_data

array([[0.51851852, 0.32911392, 0.0952381 ],
       [0.7037037 , 0.56962025, 0.28571429],
       [0.48148148, 0.39240506, 0.19047619],
       ...,
       [0.48148148, 0.37974684, 0.23809524],
       [0.38888889, 0.21518987, 0.23809524],
       [0.42592593, 0.27848101, 0.52380952]])

In [9]:
normalized_df = pd.DataFrame(normalized_data,columns=['Height','Weight','Age'])
normalized_df

        Height    Weight       Age
0     0.518519  0.329114  0.095238
1     0.703704  0.569620  0.285714
2     0.481481  0.392405  0.190476
3     0.277778  0.253165  0.476190
4     0.574074  0.455696  0.285714
...        ...       ...       ...
1335  0.240741  0.139241  0.238095
1336  0.574074  0.594937  0.047619
1337  0.481481  0.379747  0.238095
1338  0.388889  0.215190  0.238095
1339  0.425926  0.278481  0.523810

[1340 rows x 3 columns]

#### 최댓값은 1, 최솟값은 0
데이터가 0과 1사이로 normalize되었음을 확인

In [10]:
normalized_df.describe()

            Height       Weight          Age
count  1340.000000  1340.000000  1340.000000
mean      0.482808     0.422586     0.368479
std       0.173481     0.177357     0.161937
min       0.000000     0.000000     0.000000
25%       0.333333     0.316456     0.238095
50%       0.481481     0.392405     0.333333
75%       0.611111     0.569620     0.476190
max       1.000000     1.000000     1.000000

### Standardization

표준화를 하면 항상 새로운 데이터의 평균은 0, 표준 편차는 1이 된다.<br>
표준화를 해준 데이터를 z-score라고 하며, <br>
z-score는 데이터가 평균 값에서 몇 표준 편차만큼 떨어져 있는지를 뜻한다.

In [23]:
# 소수점 5번째 자리까지만 출력되도록 설정
pd.set_option('display.float_format', lambda x: '%.5f' % x)
    
nba_player_of_the_week_df = pd.read_csv(NBA_FILE_PATH)
    
# 데이터를 standardize 함
scaler = preprocessing.StandardScaler()
standardized_data = scaler.fit_transform(height_weight_age_df)
    
standardized_df = pd.DataFrame(standardized_data, columns=['Height', 'Weight', 'Age'])

In [24]:
standardized_df.describe()

          Height     Weight        Age
count 1340.00000 1340.00000 1340.00000
mean    -0.00000   -0.00000   -0.00000
std      1.00037    1.00037    1.00037
min     -2.78410   -2.38357   -2.27629
25%     -0.86194   -0.59862   -0.80545
50%     -0.00765   -0.17024   -0.21711
75%      0.73986    0.82934    0.66539
max      2.98237    3.25687    3.90124

### 간 질환 환자 데이터를 이용한 Normalization

In [26]:
liver_patients_df = pd.read_csv('liver_patient_data.csv')

# Normalization할 열 이름들
features_to_normalize = ['Total_Bilirubin','Direct_Bilirubin', 'Alkaline_Phosphotase', 'Alamine_Aminotransferase']

In [31]:
liver_patients_df = liver_patients_df.iloc[:,2:]

In [33]:
liver_patients_df.columns

Index(['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Dataset'],
      dtype='object')

* 'Total_Bilirubin'
* 'Direct_Bilirubin'
* 'Alkaline_Phosphotase'
* 'Alamine_Aminotransferase’
열들 데이터를 Normalize

In [37]:
liver_patients_df4 = liver_patients_df[['Total_Bilirubin', 'Direct_Bilirubin','Alkaline_Phosphotase','Alkaline_Phosphotase']]
liver_patients_df4.head()

,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alkaline_Phosphotase
0,0.70000,0.10000,187,187
1,10.90000,5.50000,699,699
2,7.30000,4.10000,490,490
3,1.00000,0.40000,182,182
4,3.90000,2.00000,195,195

In [38]:
scaler = preprocessing.MinMaxScaler()
normalized_data_liver = scaler.fit_transform(liver_patients_df4)
normalized_data_liver

array([[0.00402145, 0.        , 0.06057645, 0.06057645],
       [0.14075067, 0.2755102 , 0.31069858, 0.31069858],
       [0.0924933 , 0.20408163, 0.20859795, 0.20859795],
       ...,
       [0.00536193, 0.00510204, 0.0889106 , 0.0889106 ],
       [0.01206434, 0.02040816, 0.05911089, 0.05911089],
       [0.0080429 , 0.01020408, 0.07474353, 0.07474353]])

In [39]:
normalized_data_liver_df = pd.DataFrame(normalized_data_liver, columns= ['Total_Bilirubin', 'Direct_Bilirubin','Alkaline_Phosphotase','Alkaline_Phosphotase'])

In [40]:
normalized_data_liver_df

,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alkaline_Phosphotase
0,0.00402,0.00000,0.06058,0.06058
1,0.14075,0.27551,0.31070,0.31070
2,0.09249,0.20408,0.20860,0.20860
3,0.00804,0.01531,0.05813,0.05813
4,0.04692,0.09694,0.06448,0.06448
...,...,...,...,...
574,0.00134,0.00000,0.21348,0.21348
575,0.00268,0.00000,0.01710,0.01710
576,0.00536,0.00510,0.08891,0.08891
577,0.01206,0.02041,0.05911,0.05911
578,0.00804,0.01020,0.07474,0.07474

In [41]:
normalized_data_liver_df.describe()

,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alkaline_Phosphotase
count,579.00000,579.00000,579.00000,579.00000
mean,0.03908,0.07113,0.11156,0.11156
std,0.08348,0.14370,0.11898,0.11898
min,0.00000,0.00000,0.00000,0.00000
25%,0.00536,0.00510,0.05496,0.05496
50%,0.00804,0.01020,0.07084,0.07084
75%,0.02949,0.06122,0.11480,0.11480
max,1.00000,1.00000,1.00000,1.00000